.hero-section{
    
    text-align: center;
}
.hero-section h1{
    margin-top: 20px;
    font-size: 40px;
}
.hero-section p{
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 25px;
}
.hero-section__btn-right{
    width: 170px;
    height: 48px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #287EFD;
    border: 0;
    color: white;
    
}
.hero-section__btn-right__vertical-align , .hero-section__chevron_left__vertical-align{
    vertical-align: middle;
}
.hero-section__chevron_left{
    width: 170px;
    height: 48px;
    margin-right: 10px;
    border-radius: 15px;
    color: black;
    background-color: white;
}